body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.iconForm {
  width: 100%;
  display: inline-flex;
  text-align: center;
  align-items: center;
  color: #6378f7;
  gap: 30px;
  padding: 10px 60px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.iconForm hr {
  width: 100%;
  border: 5px solid #6378f7;
  border-radius: 10px;
}

.iconForm h2 {
  font-size: 32px;
}

.iconForm #ic {
  width: auto;
  font-size: 64px;
  size: 64px;
}

.iconForm #ic :hover {
  color: #3d4ca3;
}